{% extends "layout.html" %}
{% from "macros.html" import render_field %}

{% block body %}
{{ error }}
<div class="container" role="main">
    <div class="row">
        <div class="col-md-auto">
            <form method="POST" action="{{ url_for('auth_register') }}">
                {{ render_field(form.name) }}
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}
                <div class="form-group">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Luo
                            käyttäjätunnus</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}