{% extends "layout.html" %}
{% from "macros.html" import render_field, render_checkboxfield, render_prechecked_checkboxfield with context %}

{% block body %}
<div class="container bg-dark text-light m-3 p-3 rounded" role="main">
  <legend>{{ trip.name }}</legend>
  <div class="row">
    <div class="col">
      <form class="editform" method="POST" action="{{ url_for('trips_edit', trip_id=trip.id) }}" novalidate>
        <fieldset>
          <legend class="border-bottom mb-2">Reissun perustiedot</legend>
          <div class="row">
            <div class="col-lg-3">
              {{ render_field(form.name, value=trip.name) }}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              {{ render_field(form.destination, value=trip.destination) }}
            </div>
            <div class="col-lg-2">
              {{ render_field(form.price, value=trip.price) }}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              {{ render_field(form.start_date, value=trip.convertStartDate()) }}
            </div>
            <div class="col-lg-3">
              {{ render_field(form.end_date, value=trip.convertEndDate()) }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{ render_field(form.description, value=trip.description) }}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              {{ render_field(form.registration_dl, value=trip.convertRegDL()) }}
            </div>
            <div class="col-lg-3">
              {{ render_field(form.max_participants, value=trip.max_participants) }}
            </div>
          </div>
          <div class="col">
            <legend class="border-bottom mb-2">Reissulla harrastettavat lajit (valitse yksi tai useampi)</legend>
            {{ render_prechecked_checkboxfield(form.sports, sports, previous_sports) }}

          </div>
          <div class="col">
            <legend class="border-bottom mb-2">Reissu sopii taitotasoille (valitse yksi tai useampi)</legend>
            {{ render_prechecked_checkboxfield(form.levels, levels, previous_levels) }}
          </div>
          <div class="col">
            <legend class="border-bottom mb-2"></legend>
            <button class="btn btn-primary" type="submit">Vahvista muutokset</button>
          </div>
        </fieldset>
      </form>
      <form method="POST" action="{{ url_for('trips_delete', trip_id=trip.id) }}">
        <div class="col mt-3">
          <button class="btn btn-danger" type="submit">Poista matka</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}