{% extends "layout.html" %}

{% block body %}

<b>{{ trip.name}}</b><br>
<form method="POST" action="{{ url_for('trips_edit', trip_id=trip.id) }}">
    <label for="name">Nimi</label>
    <input type="text" name="name" value={{ trip.name }} /><br>
    <label for="destination">Kohde</label>
    <input type="text" name="destination" value={{ trip.destination }} /><br>
    <label for="start_date">Lähtöpäivä (VVVV-KK-PP) </label>
    <input type="text" name="start_date" value={{ trip.start_date }} /><br>
    <label for="end_date">Paluupäivä (VVVV-KK-PP) </label>
    <input type="text" name="end_date" value={{ trip.end_date }} /><br>
    <label for="price">Hinta (€, kokonaisluku)</label>
    <input type="text" name="price" value={{ trip.price }} /><br>
    <label for="description">Kuvaus</label>
    <input type="text" name="description" value={{ trip.description }} /><br>
    <label for="registration_dl">Viimeinen ilmoittautumispäivä (VVVV-KK-PP) </label>
    <input type="text" name="registration_dl" value={{ trip.registration_dl }} /><br>
    <label for="max_participants">Max osallistujia</label>
    <input type ="text" name="max_participants" value={{ trip.max_participants }} /><br>
    <input type="submit" value="Vahvista muutokset"/>
</form>
      
{% endblock %}