{% extends "layout.html" %}
{% from "macros.html" import render_field, render_checkboxfield with context %}

{% block body %}
<div class="container bg-dark text-light m-3 p-3 rounded" role="main">
  <div class="row">
    <div class="col">
      <form class="needs-validation" method="POST" action="{{ url_for('trips_create') }}" novalidate>
        <fieldset>
          <legend class="border-bottom mb-2">Reissun perustiedot</legend>
          <div class="row">
            <div class="col-lg-3">
              {{ render_field(form.name, placeholder=form.name.label.text) }}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              {{ render_field(form.destination, placeholder=form.destination.label.text) }}
            </div>
            <div class="col-lg-2">
              {{ render_field(form.price, placeholder="Kokonaisluku") }}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              {{ render_field(form.start_date) }}
            </div>
            <div class="col-lg-3">
              {{ render_field(form.end_date) }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{ render_field(form.description, placeholder=form.description.label.text) }}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              {{ render_field(form.registration_dl) }}
            </div>
            <div class="col-lg-3">
              {{ render_field(form.max_participants) }}
            </div>
          </div>
          <div class="col">
            <legend class="border-bottom mb-2">Reissulla harrastettavat lajit (valitse yksi tai useampi)</legend>
            {{ render_checkboxfield(form.sports) }}
          </div>
          <div class="col">
            <legend class="border-bottom mb-2">Reissu sopii taitotasoille (valitse yksi tai useampi)</legend>
            {{ render_checkboxfield(form.levels) }}
          </div>
          <div class="col">
            <legend class="border-bottom mb-2"></legend>
            <button class="btn btn-primary" type="submit">Luo matka</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}